// colors
$white: #ffffff

// main
$main-blue: #157FF8
$main-white: #ffffff
$main-black: #1F1C34

// old
$old-white: #ffffff
$old-black: #282B2D
$old-gray: #F6F8FA

// grays
$grays-gray-100: #F9F9FD
$grays-gray-150: #F5F5F6
$grays-gray-200: #E2E2EA
$grays-gray-300: #B1B1BD
$grays-gray-350: #8591AA
$grays-gray-400: #6B6B7B

$grays-black: #110D1C

// new
$new-black: #282A2D

$new-blue: #157FF8

$new-gray-100: #F6F8FD
$new-gray-200: #EEF2FB
$new-gray-300: #E3E7F1
$new-gray-400: #8591AA
$new-gray-500: #434751


// other
$other-yellow-400: #FFAC00
$other-yellow-300-main: #FAB526
$other-yellow-200: #FFCE68
$other-yellow-300: #FAB526

$other-green-200: #49B737

$other-red-200-main: #F35C5C

// secondary
$secondary-blue-200: #5694F2
$secondary-blue-400: #095AB6

// box-shadows
$small-down: 0px 4px 16px rgba(99, 94, 130, 0.16)
$large: 0px 16px 60px rgba(99, 94, 130, 0.16)